@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mkpop";
  src: url("assets/851MkPOP_101.ttf") format("truetype");
}

@font-face {
  font-family: "ymg";
  src: url("assets/Yomogi-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "ysi";
  src: url("assets/YuseiMagic-Regular.ttf") format("truetype");
}

*,
*:before{
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.btn-flat {
  display: inline-block;
  padding: 1rem 2rem;
  min-width: 200px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background: #0f6879;
  border-radius: 0;
  position: relative;
  overflow: hidden;
  transition: color 0.5s ease-in-out, background 0.3s ease-in-out;
}

.btn-flat span {
  position: relative;
  z-index: 1;
}

.btn-flat:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 150%;
  height: 500%;
  content: "";
  background: #fd9c00;
  transform: translateX(-85%) translateY(-25%) rotate(45deg);
  transition: transform 0.5s ease-in-out;
}

.btn-flat:hover:before {
  transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

.btn-flat:hover span {
  color: #000;
}

/*めくれたメモ風*/
.box6 {
  padding: 1em; /*内側の余白*/
  background-color: #f0fff0; /*背景色*/
  position: relative;
  }

.box6:hover:after{
  position: absolute;
  content: '';
  border-style: solid; /*三角を表示する*/
  right: 0px; /*三角を右ピッタリ*/
  top: 0px; /*三角を上ピッタリ*/
  border-width: 0 30px 30px 0; /*三角のサイズ*/
  border-color: #CFB3A2 #FFFFFF #CFB3A2; /*三角部分の色*/
  box-shadow: -1px 2px 2px rgba(0, 0, 0, 0.1); /*三角の影*/
  }